<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GoGroup | Meetings made easy.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="/static/flat-ui-master/css/flat-ui.css" rel="stylesheet">
        <link rel="shortcut icon" href="../images/favicon.ico">

        <!-- Stylesheets -->
        <link href="/static/css/dashboard.css" rel="stylesheet">
    <body>
        {% include "nav.html" %}
        <div class="row">
            <a href="/scheduling/meeting/create/"type="button" class="btn btn-large btn-primary btn-block">
                <div id="new-group">
                    <span class="fui-new-24"></span>
                    <h3>Create a new group</h3>
                    <p>Find a time to meet with a new group of friends, family, coworkers, or strangers!</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="/scheduling/meeting/" type="button" class="btn btn-large btn-primary btn-block">
                <div id="new-group">
                    <span class="fui-menu-24"></span>
                    <h3>View existing groups</h3>
                    <p>Your entire history of organizational escapades in one place!</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="/scheduling/" type="button" class="btn btn-large btn-primary btn-block">
                <div id="new-group">
                    <span class="fui-settings-24"></span>
                    <h3>Your Schedule</h3>
                    <p>Edit your weekly availability.</p>
                </div>
            </a>        
        </div>
    </body>
</html>