html {
    height: 100%;
}

body {
    text-align: center;
    background-image: url('/static/img/debut_light.png');
    background-color: white;
    color: gray;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

h4 {
    padding-top: 5px;
}

body .main .block-slider .odd.free {
    background-color: #2ECC71;
/*  -webkit-box-shadow:inset 0px 0px 0px 3px #2ECC71;
    -moz-box-shadow:inset 0px 0px 0px 3px #2ECC71;
    box-shadow:inset 0px -3px 0px 8px #2ECC71;*/
}

body .main .block-slider .odd.busy {
    background-color: #E74C3C;
/*  border: 2px #C0392B solid;
*/
}

body .main .block-slider .even.free {
    background-color: #27AE60;
/*  -webkit-box-shadow:inset 0px 0px 0px 3px #2ECC71;
    -moz-box-shadow:inset 0px 0px 0px 3px #2ECC71;
    box-shadow:inset 0px -3px 0px 8px #2ECC71;*/
}

body .main .block-slider .even.busy{
    background-color: #C0392B;
}

#container {
    height: 100%;
}

/* main */
.main {
    height: 100%;
}

#day-slider-container {
    height: 100%;
}

#day-slider {
    height: 100%;
    top: 0px;
}

.day-slide {
    height: 100%;
}

.block-slider-container {
    height: 100%;
    overflow: auto;
}

.day-header {
    font-size: 40px;
}

.slider-button {
    margin-bottom: -40px;
    width: 20px;
    height: 40px;
    z-index: 2;
    margin: 6px;
}

.slider-prev-button {
    float: left;
    background: url(/static/img/slider-buttons.png) no-repeat 0 0;
}
            
.slider-next-button {
    float: right;  
    background: url(/static/img/slider-buttons.png) no-repeat 100% 0;
}

/* footer */
.footer {
    position: relative;
    clear: both;
    height: 150px;
    background: #ddd;
}

/* toggle */
.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    z-index: 2;
    background: #fff;
}

/* slider 1 */
.main .block-container {
    position: absolute;
    top: 40px;
    bottom: 150px;
    left: 0;
    right: 0;
}

.iosSlider1 {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 50%;
    height: 50px;
}

.iosSlider1-full {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.iosSlider1 .block-slider {
    width: 100%;
    height: 100%;
    text-align: center;
}

.iosSlider1 .block-slider .block-slide {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 5px;

}

.iosSlider1 .block-slider .block-slide-free {
    background: #2ECC71;
    color: white;
}

.iosSlider1 .block-slider .block-slide-busy {
    background: #E74C3C;
    color: white;
}
