.dashboard-tile p {
	font-size: 13px;
}

.dashboard-tile {
	margin: 10px;
}

#footer {
    position : absolute;
    text-align: center;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    font-size: 10px;
}

h3 {
	padding: 0px;
	margin: 0px;
}

#dashboard {
	text-align: center;
	width: 100%;
	float: none;
}

.row a {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row a p {
    font-size: 13px;
    padding: 10px;
}

.span4 {
	float: none;
}