body {
	color: #3498DB;
}

.img-wrap {
    background: white;
    display: inline-block;
    line-height: 0;
    margin-top: -5px;
}

.img-wrap > img {
    opacity: 0.7;
}

#registration-form {
	margin-top: 40px;
	margin-left: 0px;
	border: 2px solid white;
	padding: 20px 20px 20px 20px;
	border-radius: 15px;
	float: left;
}

#splash-info {
	margin-top: 40px;
	padding: 10px 0px 20px 20px;
}

h1 {
	margin-top: 0px;
	padding-top: 0px;
}

#terms {
	font-size: 12px;
	max-width: 250px;
	padding-right: 20px;
	float: left;
}

#register-button {
	margin-top: 0px;
}

#footer {
    text-align: center;
    clear: both;
    height : 40px;
    margin-top : 40px;
    font-size: 10px;
  }

#splash-desc {
	margin-top: 90px;
	margin-right: 0px;
	padding-right: 0px;
}

/*#splash-desc img {
	float: right;
	width: 20%;
}*/

.text-desc {
	margin-top: 10px;
	text-align: right;
	width: 225px;
	font-size: 16px;
}

#splash-desc #iphone-image {
	margin-top: -60px;
	margin-left: 20px;
}