html, body {
    height: 100%;
    background-image: url('/static/img/debut_light.png');

}

#container {
    width: 100%;
    margin-left: 0;
}

#registration-form {
    max-width: 80%;
    margin: 15px auto 20px auto;
    float: none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}