html, body {
    height: 100%;
    background-image: url('/static/img/debut_light.png');

}

#footer {
    position : absolute;
    text-align: center;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    font-size: 10px;
    clear: both;
}

.create-form {
    float-left: auto;
    float-right: auto;
}

.full-input {
    width: 93%;
}

#plus-button {
	margin-left: 0px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

#create-new {
    max-width: 80%;
    width: 100%;
    margin: 15px auto 20px auto;
    float: none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#create-new {
	max-width: 475px;
    padding-bottom: 20px;
}

#create-new h3 {
	font-size: 16px;
}