#footer {
    position : absolute;
    text-align: center;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    font-size: 10px;
    clear: both;
}

#plus-button {
	margin-left: 0px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

#create-new {
	max-width: 475px;
    padding-bottom: 20px;
}

#create-new h3 {
	font-size: 16px;
}