<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GoGroup | Meetings made easy.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link href="/static/flat-ui-master/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="/static/flat-ui-master/css/flat-ui.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Stylesheets -->
        <link href="/static/css/new.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>
<body>
    {% include "nav.html" %}
        <div class="row">
            <div class="span7" id="create-new">
                <div style="text-align:left" class="create-form">
                    <h3>Group name:</h3>
                        <input class="full-input" id="group-name" type="text" style="padding: 10px"value placeholder="ex.) &quot;My Group&quot;">
                    <h3>Start Date:</h3>
                        <input type="text" class="full-input" id="start-date-select" value placeholder="Click to select dates.">
                    <h3>End Date:</h3>
                        <input type="text" class="full-input" id="end-date-select" value placeholder="Click to select dates.">
                    <h3>Duration:</h3>
                        <select type="text" class="full-input" id="duration" value >  
                            <option value="30">30 mins</option>
                            <option value="60">1 hour</option>
                            <option value="90">1 hour 30 mins</option>
                            <option value="120">2 hours</option>
                        </select>  
                    <h3>Invitees:</h3>
                    <div id="invitees"></div>
     
                    <hr>
                    <!-- Send invite -->
                    <a href="#" onclick="confirmSend()" class="btn btn-large btn-primary btn-block">Send Invites</a>
                </div>
            </div>
        </div>
        <div id="working-overlay" class="modal hide fade">
            <div class="modal-header">
                <h3>Creating meeting...</h3>
            </div>
            <div class="modal-body">
                <p>We're working on creating your meeting! Bear with us, we're finding the optimal meeting times based on everyone's schedule, and sending messages to all you invitees.</p>
            </div>
        </div>
</body>
</html>

<script src="/static/js/jquery-1.8.2.min.js"></script>
<script src="/static/flat-ui-master/js/jquery-ui-1.10.0.custom.min.js"></script>

<!-- Calendar selector javascript and files -->
<link rel="stylesheet" type="text/css" media="all" href="/static/jsdatepick-calendar/jsDatePick_ltr.min.css" />

<script type="text/javascript" src="/static/jsdatepick-calendar/jsDatePick.jquery.min.1.3.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.min.js"></script>
<script type="text/javascript" src="/static/js/backbone.min.js"></script>
<script type="text/javascript" src="/static/js/peoplelist.js"></script>
<script type="text/javascript" src="/static/js/ajaxSetup.js"></script>
<script type="text/javascript">
    var inviteesView;
    $(function(){
        setupAjaxCsrf();

        var options = {el: $("#invitees")};
        inviteesView = new PersonList.PersonListView(options);
        new JsDatePick({
            useMode:2,
            target:"start-date-select",
            dateFormat:"%m-%d-%Y"
        });

        new JsDatePick({
            useMode:2,
            target:"end-date-select",
            dateFormat:"%m-%d-%Y"
        });

    });
    function confirmSend() {
        var r=confirm("Clicking OK will send one text message to each invitee. Standard SMS rates apply. Rates are determined by the recipient's cellular provider and will be paid for by the recipient.");
        if (r) {
            $("#working-overlay").modal({
                show: true,
                keyboard: false
            });
            var data = {};
            data["invitees"] = inviteesView.model.toJSON();
            data["name"] = $("#group-name").val();
            data["start"] = $("#start-date-select").val();
            data["end"] = $("#end-date-select").val();
            data["duration"] = $("#duration").val();
            $.ajax({
                type: "POST",
                url: "/scheduling/meeting/create/",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    window.location = "/scheduling/meeting/" + data.pk;
                }
            });
            return false;
        }
    }
</script>
