<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GoGroup | Meetings made easy.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link href="/static/flat-ui-master/css/bootstrap.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="/static/flat-ui-master/css/flat-ui.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Stylesheets -->
        <link href="/static/css/new.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>
<body>
    {% include "nav.html" %}
    <div class="span12">
        <div class="row">
            <div class="span7" id="create-new">
                <div style="text-align:left">
                            <h3>Group name:</h3>
                                <input type="text" style="padding: 10px"value placeholder="ex.) &quot;My Group&quot;">
                            <h3>Start Date:</h3>
                                <input type="text" class="" id="start-date-select" value placeholder="Click to select dates.">
                            <h3>End Date:</h3>
                                <input type="text" class="" id="end-date-select" value placeholder="Click to select dates.">
                            <h3>Duration:</h3>
                                <input type="text" class="" id="duration" value placeholder="ex.) 1.5 hours">       
                            <h3>Invitees:</h3>
                                <div>
                                    <input type="text" value placeholder="Name">
                                    <input type="text" value placeholder="Number"> &nbsp; <a href="#" id="plus-button"class="btn btn-primary btn-small">+</a>       
                                </div>
                            <!-- For each invitee added, display name, number, and delete option. -->
                            <div>
                                <span class="fui-cross-16"></span>&nbsp;&nbsp; FirstName LastName: (xxx) xxx-xxxx 

                            </div>
                                    
                            <hr>
                            <!-- Send invite -->
                            <a href="#" onclick="confirmSend()" class="btn btn-large btn-primary btn-block">Send Invites</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/static/flat-ui-master/js/jquery-1.8.2.min.js"></script>
<script src="/static/flat-ui-master/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/static/flat-ui-master/js/jquery.dropkick-1.0.0.js"></script>
<script src="/static/flat-ui-master/js/application.js"></script>
<script type="text/javascript" src="/static/jsdatepick-calendar/jsDatePick.jquery.min.1.3.js"></script>

<!-- Calendar selector javascript and files -->
<link rel="stylesheet" type="text/css" media="all" href="/static/jsdatepick-calendar/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="/static/jsdatepick-calendar/jquery.1.4.2.js"></script>
<script type="text/javascript" src="/static/jsdatepick-calendar/jsDatePick.jquery.min.1.3.js"></script>
<script type="text/javascript">
    window.onload = function(){
        new JsDatePick({
            useMode:2,
            target:"start-date-select",
            dateFormat:"%d-%M-%Y"
            /*selectedDate:{                This is an example of what the full configuration offers.
                day:5,                      For full documentation about these settings please see the full version of the code.
                month:9,
                year:2006
            },
            yearsRange:[1978,2020],
            limitToToday:false,
            cellColorScheme:"beige",
            dateFormat:"%m-%d-%Y",
            imgPath:"img/",
            weekStartDay:1*/
        });

        new JsDatePick({
            useMode:2,
            target:"end-date-select",
            dateFormat:"%d-%M-%Y"
            /*selectedDate:{                This is an example of what the full configuration offers.
                day:5,                      For full documentation about these settings please see the full version of the code.
                month:9,
                year:2006
            },
            yearsRange:[1978,2020],
            limitToToday:false,
            cellColorScheme:"beige",
            dateFormat:"%m-%d-%Y",
            imgPath:"img/",
            weekStartDay:1*/
        });

    };
    function confirmSend() {
        var r=confirm("Clicking OK will send one text message to each invitee. Standard SMS rates apply. Rates are determined by the recipient's cellular provider and will be paid for by the recipient.");
    }
</script>
