<div class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a href="/">
                        <span class="fui-bubble-16"></span> &nbsp;
                        GoGroup
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    {% if not user.is_authenticated %}
                        <a href="/accounts/login/">
                            Login<span class="fui-man-24"></span>
                        </a>
                    {% else %}
                        <a href="/accounts/">
                            Account &nbsp;<span class="fui-man-24"></span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>