<div class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li>
                    <a href="desktop-home.html">
                        <span class="fui-bubble-16"></span> &nbsp;
                        GoGroup
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
            <li>
                <a href="#">
                    Login &nbsp; <span class="fui-man-24"></span>
                </a>
            </li>
        </ul>
    </div>
</div>